.news {
  border-radius: 0px;
  background-image: url(../../../public/assets/mainPages/newsletter.webp);
  min-height: 180px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.black {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 180px;
  margin-top: 50px;
}

.black input
{
  background-color: white;
  color: black
}

.head {
  text-align: center;
  padding: 17px 0px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}
