/** @format */

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 12px 0;
}
.my-2 {
  text-align: center !important;
}
.section-heading {
  font-size: 45px;
  color: rgb(15, 73, 143);
  font-weight: 600;
  margin-bottom: 10px;
}
.heading {
  font-size: 42px;
  font-weight: 700;
  color: #596565;
  margin-top: 0;
  text-transform: uppercase;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}
.subheading {
  font-size: 18px;
  line-height: 24px;
  color: #858e93;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: auto;
  padding: 10px 8px;
  border: 1.5px solid #cfd5d8;
  border-radius: 4px;
  text-align: center;
  transition: all 0.4s linear;
}
.input::-moz-placeholder {
  opacity: 0.35;
}
.input:-ms-input-placeholder {
  opacity: 0.35;
}
.input::placeholder {
  opacity: 0.35;
}
.input:focus,
.input:hover,
.input:valid {
  outline: none;
  border: 1.5px solid #b2defe;
}

#btn {
  padding: 12px 32px;
  background-color: #0f498f;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
#btn:hover {
  border-radius: 1rem;
  letter-spacing: 0px;
  background: gainsboro;
  border: 3px solid #eff6ff;
  color: #494747;
}
.btn--active {
  -webkit-animation: buttonActive 0.3s both;
  animation: buttonActive 0.3s both;
}
.btn--success {
  -webkit-animation: buttonSuccess 0.4s both;
  animation: buttonSuccess 0.4s both;
}
.btn:focus {
  outline: none;
}
::placeholder {
  color: white;
  opacity: 1;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 425px;
  min-height: 465px;
  border-radius: 9px;
  background-color: #ffffff;
  box-shadow: 13px 15px 79px 6px rgba(0, 0, 0, 0.15);
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.subscribe__image {
  position: relative;
  max-width: 80px;
  margin: 50px 10px 0;
}
.subscribe__image--success:after {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 26px;
  height: 26px;
  background-image: url("https://user-images.githubusercontent.com/23297041/53911760-6c581880-4068-11e9-90ab-ac45ae3b4aa8.png");
  background-size: cover;
  content: "";
  -webkit-animation: slideUp 0.3s ease-out;
  animation: slideUp 0.3s ease-out;
}
.subscribe__text {
  max-width: 300px;
  margin-bottom: 30px;
  text-align: center;
}
.subscribe__input {
  min-width: 250px;
  margin-bottom: 15px;
}
.subscribe__btn {
  width: 180px;
}

@-webkit-keyframes buttonActive {
  to {
    transform: translateY(-1px);
    opacity: 1;
  }
}

@keyframes buttonActive {
  to {
    transform: translateY(-1px);
    opacity: 1;
  }
}
@-webkit-keyframes buttonSuccess {
  from {
    opacity: 1;
  }
  to {
    width: 230px;
    background-color: #53ce67;
    opacity: 1;
  }
}
@keyframes buttonSuccess {
  from {
    opacity: 1;
  }
  to {
    width: 230px;
    background-color: #53ce67;
    opacity: 1;
  }
}
@-webkit-keyframes slideUp {
  from {
    transform: translateY(15px);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(15px);
  }
}
@media screen and (max-width: 680px) {
  .subscribe {
    min-width: 350px;
  }
}
