.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top-color: #000000;
    border-radius: 50%;
    animation: spin 1s infinite linear;
    content: "Loading...";
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  