version: '3'

services:

  frontend:
  
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - 3000:3000

    depends_on:
      - backend

  backend:

    build:
      context: ./server
      dockerfile: Dockerfile

    ports:
      - 5000:5000
