.bg-color {
  float: left;
  width: 100%;
  height: 173px;
  overflow: hidden;
  position: relative;
  min-height: 173px;
  top: -32px;
  bottom: 0;
  border-radius: 10px 10px 0 0 !important;
}

.bk-img {
  position: absolute;
  top: 39px;
  margin-bottom: 10px;
  transition: all 0.8s ease-in-out;
}

.bk-img img {
  width: 131px;
  border-radius: 6px !important;
  transition: all 0.8s ease-in-out;
}



.bk-details {
  margin-top: 20px;
  padding: 0px 13px;
  max-width: calc((190px - 13px) * 2);
  transition: all 0.8s ease-in-out;
}

.type {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color: var(--textGray-dark);
  font-size: 0.875rem;
  font-weight: 400;
 
  margin-bottom: 4px;
  display: -webkit-box;
  overflow: hidden;
  font-style: normal;
  text-align: left;
  transition: all 0.8s ease-in-out;
}

.title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.3;
  overflow-wrap: anywhere;
  margin-bottom: 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
  transition: all 0.8s ease-in-out;
}

.description{
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color: var(--textGray-dark);
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 4px;
  display: -webkit-box;
  overflow: hidden;
  font-style: normal;
  text-align: left;
  display: none;
  transition: all 0.8s ease-in-out;
}

.author {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.8s ease-in-out;
}

.author span {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  color: #1e7b85;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  transition: all 0.8s ease-in-out;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  transition: all 0.8s ease-in-out;
}

.save {
  border-radius: 50%;
  padding: 5px 11px;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
}

.save:hover {
  background-color: rgb(91, 241, 121);
}


.bk-view:hover .bk-img{
  /* transform: translateY(-10px); */
  padding-bottom: 7px;
}

.bk-view:hover .bk-details{
  /* transform: translateY(-1px); */
}

.bk-view:hover .bg-color{
  opacity: 0;
}

.bk-view:hover .description{
  display:block;
}

.bk-view:hover .reviews{
  /* transform: translateY(-15px); */
}