.access {
  background-color: var(--bgLight);
  padding: 20px;
}

.access-container {
  max-width: 800px;
  margin: 0 auto;
}

.access-title {
  margin-top: 80px;
  color: #4f63c3;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 40px;
  animation: pulse 1s infinite;
}

.access-section {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  animation: fade-in 1s ease;
}

.access-section:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.access-section button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

.access-section-title {
  color: #555;
  font-size: 24px;
  margin-bottom: 20px;
  flex: 1;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.expanded .icon {
  transform: rotate(45deg);
}

.access-content {
  color: #777;
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expanded .access-content {
  max-height: 500px; 
}

.contact-email {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-email:hover {
  text-decoration: underline;
  color: #0056b3;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
