.terms {
  padding: 20px;
  background-color: var(--bgLight);
}

.container {
  max-width: 960px;
  margin: 30px auto;
  padding: 0 20px;
}
.terms-content {
  color: #777;
  font-size: 16px;
}
.terms-title {
  color: #4f63c3;
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
  animation: pulse 1s infinite;
}
.icon {
  color: #28a745;
  margin-right: 10px;
  vertical-align: middle;
}


.terms-content h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px 0 15px;
}

.terms-content p {
  margin-bottom: 20px;
}

.terms-content ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

.terms-content ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.terms-content ul li .icon {
  margin-right: 10px;
}

.terms-content a {
  color: #007bff;
  text-decoration: none;
}

.terms-content a:hover {
  text-decoration: underline;
}

.terms-content .contact-email {
  font-weight: bold;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
