.news {
  border-radius: 0px;
  /* background-image: url(../../../assets/mainPages/newsletter.webp); */
  background-image: linear-gradient(to right, #8360c3, #2eb0bf);
  min-height: 180px;
  width: 88%;
  position: relative;
  top:80px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 80px;

}

.black {
  border-radius: 0px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background-image: linear-gradient(to right, #8360c3, #2ebf91); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  margin-top: 20px;
}
.black input
{
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: white;
  color: black
}
.form-control button{

}
.head {
  text-align: center;
  padding: 17px 0px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}
