.contact {
  padding: 100px 0 40px 0;
  /* background: whitesmoke; */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
.c_head h1,
p {
  font-weight: bold;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.c_head h1 {
  margin-top: 20px;
  font-size: 50px;
  text-shadow: 2px 2px 5px gray;
  color: #7289da;
}
.c_head p {
  margin-bottom: 70px;
}
.contact-title {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--textLight);
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: var(--bgLight-primary);
  /* color: var(--textLight); */
}
.form-input.inputField {
  border: 1px solid red;
  opacity: 1 !important;
  transform: translate(0) scale(1) !important;
}

.message-input {
  width: 100%;
  height: 120px;
  min-height: 44px;
  overflow-y: unset;
}

.submit-btn {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: #7289da;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* transition: all 0.2s ease-in-out; */
}

.submit-btn:hover {
  background-color: #5666a3;
  color: white;
}

.contact-social-icons {
  text-align: center;
  margin-top: 40px;
}

.contact-social-icons h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon-twitter,
.social-icon-github,
.social-icon-discord {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: black;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.social-icon-twitter:hover {
  background-color: #00acee;
  transform: scale(1.2);
}

.social-icon-github:hover {
  background-color: #238636;
  transform: scale(1.2);
}

.social-icon-discord:hover {
  background-color: #7289da;
  transform: scale(1.2);
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding-right: 80px;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.contact-text {
  text-align: center;
  flex: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.contact-image {
  max-width: 100%;
  height: auto;
  flex: 1;
  transition: transform 0.5s;
}

.contact-image:hover{
  transform: rotate(-10deg);
}

@media only screen and (max-width: 700px) {
  .contact-content {
    flex-direction: column-reverse;
  }

  .contact-text {
    order: 2;
    margin-bottom: 40px;
  }

  .contact-image {
    max-width: 100%;
    width: 100%;
    margin-top: 0;
  }
}
