@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");

body {
	background-attachment: fixed;
	background-size: cover;
}

#container {
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 2rem;
	height: 50vh;
	width: 40vw;
}

/* 	Product details  */
.product-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;
}

/* 	Product Name */
#container .product-details h1 {
	font-family: "Old Standard TT", serif;
	display: inline-block;
	position: relative;
	font-size: 34px;
	color: #344055;
	margin: 0;
}

@media screen and (max-width: 760px) {
	#container {
		height: 350px;
		width: 400px;
	}
	.product-details {
		height: 100%;
		width: 50%;
	}
	#container .product-details h1 {
		font-size: 20px;
	}
}

#container .product-details h1:before {
	position: absolute;
	content: "";
	right: 0%;
	top: 0%;
	transform: translate(25px, -15px);
	font-family: "Farsan", cursive;
	display: inline-block;
	background: #ffa69e;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: #fff;
	margin: 0;
	animation: chan-sh 6s ease infinite;
}

/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	/* float: right; */
	width: 50%;
	display: inline-block;
}

#container img {
	width: 100%;
	height: 100%;
}

.info {
	background: rgba(27, 26, 26, 0.9);
	font-family: "Farsan", cursive;
	transition: all 0.3s ease-out;
	transform: translateX(-100%);
	position: absolute;
	line-height: 1.9;
	text-align: left;
	font-size: 120%;
	cursor: no-drop;
	color: #fff;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.info h2 {
	text-align: center;
}
.product-image:hover .info {
	transform: translateX(0);
	overflow: scroll;
}

.info ul li {
	transition: 0.3s ease;
}
.info ul li p {
	font-size: 1rem;
}

.product-image:hover img {
	transition: all 0.3s ease-out;
}
.product-image:hover img {
	transform: scale(1.2, 1.2);
}