@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

.profile {
  border-radius: 50%;
  /* border: 2px solid black; */
  height: 230px;
    width: 230px;
  margin-bottom: 10px;
  position: relative;
  left: 5rem;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 768px) {
    height: 150px;
  }
}

.profile:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.card {
  margin: 20px;
  padding: 15px;
  cursor: pointer;
  background-color: transparent;
  /* border: 2px solid black; */
  height: 20rem;
}

.content {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.text {
  font-weight: 700;
  font-size: 1.4rem;
}

p{
  font-size: 1.2rem;
}

.con_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
}

.heading{
    /* font-family: 'Baloo Bhai 2', cursive; */
    font-size: 2.5rem;
    text-align: center;
    margin-top: 70px;
    padding: 20px 0;
    color: black;
    /* text-shadow: 0 0 11px rgba(102, 204, 255, 0.8); */
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    font-weight: 700;
    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }
}

.view_button{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    bottom: -3rem;
    left:6rem;
}

.view_button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}