@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
 .team {
   background-color: #f8f8f8;
   padding: 50px 0;
 }

 .team-description {
   text-align: justify;
   margin: 8px;
   font-size: 18px;
   font-family: 'Baloo Bhai 2', cursive; }

/* .team-m{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%
} */
 .team-member-image {
  width: 450px;
  height: auto;
  max-width: 100%;
  border-radius: 5%;
  object-fit: cover;
}

.submit-btn {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
  background-color: lightgray;
  color: black;
}


 /* .team-heading {
   margin-bottom: 0.75rem;
   font-size: 3rem;
   line-height: 1;
   font-weight: 700;
 }

 .container {
   background-color: pink;
   max-width: 960px;
   margin: 0 auto;
   padding: 0 20px;
 }


 .team-title {
   font-size: 28px;
   font-weight: bold;
   text-align: center;
   margin-bottom: 30px;
 }

 .team-members {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   background-color: orange;
 }
 .team-member {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   background-color: yellow;
 }

 .team-member-image {
   width: 400px;
   height: auto;
   max-width: 100%;
   border-radius: 5%;
   object-fit: cover;
 }

 .team-description {
   text-align: justify;
   margin-top: 40px;
 }

 .team-description p {
   font-size: 18px;
   line-height: 1.5;
   margin-bottom: 20px;
 }

 .team-description ul {
   text-align: center;
   list-style-type: disc;
   margin: 0 auto;
   max-width: 600px;
   padding-left: 20px;
 }

 .team-description li {
   margin-bottom: 10px;
 } */