/* download styles */
#mobile-image-container {
  z-index: 10;
  perspective: 40px;
  transition: transform 100ms;
  padding: 17px 15px;
  background-color: pink;
  border-radius: 40px;
}

#mobile-image {
  z-index: 10;
  transition: transform 0.5s;
}

#mobile-image-container:hover {
  transform: rotate(-10deg);
}

#mobile-image-container:hover + .box,
#mobile-image-container:hover + .box + .box {
  transform: scale(1.5);
}
.available{
  margin-top: 55px;
}

.download {
  margin: 6% 2%;
}

.download .left img {
  height: 500px;
  z-index: 2;
}

.download .left .box {
  height: 200px;
  width: 200px;
  position: absolute;
  background-color: pink;
  border-radius: 100%;
  z-index: 0;
  opacity: 0.7;

  transition: transform 100ms;
}

.download .left .box1 {
  bottom: 350px;
  left: 75px;
}

.download .left .box2 {
  top: 350px;
  right: 100px;
}

.download .right {
  padding: 0 100px 0 0;
}

.download .right h1 {
  margin: 30px 0;
}

.download .right button {
  width: 12.5rem;
  background-color: palevioletred;
  color: #fff;
  border-radius: 10px;
  border: 1px solid palevioletred;
  transition: all 0.3s ease;
}

.download .right button:hover {
  background-color: transparent;
  color: palevioletred;
}

.download .right button:hover > svg {
  color: palevioletred;
}

.download .right button .apple {
  font-size: 2rem;
  margin: 0 10px 2px 0;
}

@media screen and (max-width: 767px) {
  .download .right {
    padding: 30px;
    text-align: center;
  }

  .download .right .brand-name {
    margin-top: 20px;
  }
}
