/* download styles */
#mobile-image-container {
  z-index: 10;
  perspective: 40px;
  transition: transform 800ms;
  padding: 9px 10px;
  background-color: rgb(193, 121, 145);
  border-radius: 40px;
}

#mobile-image {
  z-index: 10;
  transition: transform 0.5s;
}

.box{
  transition: 1s ease-in-out;
}

#mobile-image-container:hover {
  transform: rotate(-8deg);
  
}

#mobile-image-container:hover + .box,
#mobile-image-container:hover + .box + .box {
  transform: scale(1.3);
}
.available{
  margin-top: 55px;
}

.download {
  margin: 6% 2%;
}

.download .left img {
  height: 500px;
  z-index: 2;
}

.download .left .box {
  height: 200px;
  width: 200px;
  position: absolute;
  background-color: rgb(233, 67, 123);
  border-radius: 100%;
  z-index: 0;
  opacity: 0.7;
  transition: transform 100ms;
}

.download .left .box1 {
  bottom: 350px;
  left: 75px;
}

.download .left .box2 {
  top: 350px;
  right: 100px;
}

.download .right {
  padding: 0 100px 0 0;
}

.download .right h1 {
  margin: 30px 0;
}
/* 
.download .right button {
  width: 12.5rem;
  border-radius: 10px;
  border: 1px solid rgb(233, 67, 123);
  transition: all 0.3s ease;
}

.btn1l{
  background-color: rgb(233, 67, 123);
}

.download .right button:hover {
  background-color: transparent;
  color: rgb(233, 67, 123);
}

.download .right button:hover > svg {
  color: rgb(233, 67, 123);
}

.download .right button .apple {
  font-size: 2rem;
  margin: 0 10px 2px 0;
} */

.btn1{
  border: 1px solid rgb(233, 67, 123);
  transition: all 0.3s ease;
  background-color: rgb(233, 67, 123);
}

.btn2{
  background-color: transparent;
  color: rgb(233, 67, 123);
  border: 1px solid rgb(233, 67, 123);
  transition: all 0.3s ease;
}

.btn2 >svg {
  color: rgb(233, 67, 123);
}

.btn1 >svg {
  color: white;
}

/* hover effects on button */

.btn1:hover{
  background-color: transparent;
  color: rgb(233, 67, 123);

}

.btn1:hover svg{
  color: rgb(233, 67, 123);
}

.btn2:hover{
  background-color: rgb(233, 67, 123);
  color: white;
}

.btn2:hover svg{
  color: white;
}



/* hover effects on button ends */


@media screen and (max-width: 767px) {
  .download .right {
    padding: 30px;
    text-align: center;
  }

  .download .right .brand-name {
    margin-top: 20px;
  }
}
