.con_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 280px;
  margin-bottom: 40px;
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  height: 200px;
  width: 200px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
}

.content {
  width: 100%;
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 200px; /* Set a minimum height for the content box */
}

.text {
  font-size: 1.2rem;
  margin: 0; /* Remove the margin */
  flex-grow: 1; /* Allow the text to grow within the content box */
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.name {
  margin-right: 5px;
}

.job {
  margin-left: 5px;
}
