.biography-container {
  text-align: center;
  margin-top: 10rem;
  width: 1200px;
}

.biography-header {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.biography-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.biography-header:hover {
  transform: scale(1.05);
}

.biography-header:hover::after {
  opacity: 1;
}

.heading {
  font-size: 36px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  color: #555;
  font-weight: bolder;
  margin-top: 10px;
}

.show-more-visible {
  max-height: 500px;
  /* Adjust the value based on your content */
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.show-more-button {
  display: block;
  margin: 0 auto;
  /* Center align the button */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

.show-more-button:hover {
  background-color: #5d85ce;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 800px) {
  .biography-container {
    margin-top: 8rem;
    width: auto;
  }
}
