.bg-color {
    float: left;
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: relative;
    min-height: 80px;
    top: -2px;
    bottom: 0;
    border-radius: 10px 10px 0 0 !important;
  }
  
  .bk-img {
    transition: all 0.8s ease-in-out;
    position: relative;
    top:-1rem;
    z-index:20;
  }
  
  .bk-img img {
    border-radius: 6px !important;
    transition: all 0.8s ease-in-out;
  }
  
  .bk-details {
    margin-top: 10px;
    padding: 0px 13px;
    max-width: calc((130px - 10px) * 2);
    transition: all 0.8s ease-in-out;
  }
  
  .type {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.5;
    color: var(--textGray-dark);
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 2px;
    display: -webkit-box;
    overflow: hidden;
    font-style: normal;
    text-align: left;
    transition: all 0.8s ease-in-out;
  }
  
  .title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.3;
    overflow-wrap: anywhere;
    margin-bottom: 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
    transition: all 0.8s ease-in-out;
  }
  
  .description {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.5;
    color: var(--textGray-dark);
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 2px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-pack: center;
    overflow-wrap: anywhere;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-style: normal;
    text-align: left;
    transition: opacity 0.8s ease-in-out;
    opacity: 1;
  }
  
  .author {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 0.9rem;
    line-height: 1.5;
    transition: all 0.8s ease-in-out;
  }
  
  .author span {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    color: #1e7b85;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    transition: all 0.8s ease-in-out;
  }
  
  .reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    transition: all 0.8s ease-in-out;
  }
  
  .save {
    border-radius: 50%;
    padding: 5px 11px;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
  }
  
  .save:hover {
    background-color: rgb(91, 241, 121);
  }
  
  @media screen and (min-width: 768px) {
    .bk-view:hover .bk-img {
      transform: translateY(-25px) scale(0.7);
      padding-bottom: 7px;
      transition: all 0.7s ease-in-out;
    }
  
    .bk-view:hover .bk-details {
      transform: translateY(-10px);
      transition: all 0.8s ease-in-out;
    }
  
    .bk-view:hover .bg-color {
      opacity: 0;
      transition: all 0.8s ease-in-out;
      overflow: hidden;
    }
  
    .bk-view:hover .description {
      display: block;
      transition: all 0.8s ease-in-out;
      opacity: 1;
      transform: translateY(-10px);
    }
    .bk-view:hover .type,
    .bk-view:hover .title,
    .bk-view:hover .author {
      transform: translateY(-10px);
    }
    .bk-view:hover .reviews {
      transform: translateY(-18px);
    }
  }
  