/* BookList.css */

.book-list-container {
	background-color: #f5f5f5;
	padding: 100px;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.book-list-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.book-list {
	margin: auto;
	display: flex;
	flex-direction: row;
}

.book-list-item {
	margin: auto;
	display: flex;
	flex-direction: row;
}

.book-list-item:hover {
	background-color: #fafafa;
}

.cards {
	background-color: #f5f5f5;
	padding: 20px;
	height: 70vh;
	overflow: scroll;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 760px) {
	.book-list-container {
		padding: 100px 20px;
	}
	.cards {
		width: 80vh;
		padding: 0;
		grid-template-columns: repeat(1, 1fr);
	}
}
