.contact {
  padding: 100px 0 40px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-text {
  text-align: center;
}

.contact-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-input {
  height: 120px;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

input:focus {
  border: 2px solid #1fb6ff;
}

textarea:focus {
  border: 2px solid #1fb6ff;
}

.submit-btn {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
  background-color: #b5b5b5;
}

.contact-image {
  max-width: 450px;
}

.contact-social-icons {
  text-align: center;
  margin-top: 40px;
}

.contact-social-icons h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icon-twitter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.social-icon-twitter:hover {
  background-color: #00acee;
  transform: scale(1.2);
}

.social-icon-github {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.social-icon-github:hover {
  color: black;
  background-color: lightgray;
  transform: scale(1.2);
}

.social-icon-discord {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.social-icon-discord:hover {
  /* color: black; */
  background-color: #7289da;
  transform: scale(1.2);
}

@media only screen and (max-width: 700px) {
  .contact-content {
    flex-wrap: wrap;
  }
  .contact-image {
    max-width: 330px;
  }
}
