.container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-top: 60px;
  border-radius: 8px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.development-image {
  max-width: 55%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

p {
  text-align: center;
}