.Error{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img{
    width: 50%;
    height: 50%;
}

.btn{
    position: relative;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;
    background-color: #16132a;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: white;
}