.faq-help {
  padding: 50px 0;
  text-align: center;
}

.faq-help-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.faq-help-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.faq-help-image {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.faq-help-description-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.faq-help-description-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: left;
}

.faq-section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.faq-item {
  margin-bottom: 20px;
  text-align: left;
}

.faq-question {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.faq-answer {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

.help-section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.help-description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

.help-contact-text {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.help-contact-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  text-align: left;
}

.help-contact-list li {
  margin-bottom: 5px;
  text-align: left;
}
.faq-help {
  padding: 50px 50px; /* Add margin from left and right */
  text-align: center;
}