.navbar {
  width: 100%;
  background-color: #1e293b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-brand {
  flex-grow: 1;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0;
}

.navbar-item a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.navbar-item a:hover {
  color: lightgray;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  margin-left: 0.5rem;
}

.navbar-search-input {
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  background: transparent;
  width: 100%;
}

.navbar-search-button {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.navbar-search-icon {
  font-size: 1rem;
  color: #1e293b;
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-container {
    padding: 1rem;
  }

  .navbar-brand {
    margin-bottom: 1rem;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-menu {
    position: absolute;
    top: 0%;
    right: 0;
    width: 100%;
    background-color: #1e293b;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    flex-direction: column;
  }

  .navbar-menu.active {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }

  .navbar-items {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-item {
    margin: 0.5rem 0;
  }

  .navbar-search {
    justify-content: center;
    margin-top: 1rem;
  }
}
