.img-section {
    background-color: #115289f7;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 16.10em;
    background-size: cover;
    object-fit: cover;
}

.img-black{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 16.10em;
    width: 100%;
}

.inner {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
    min-height: 16.10em;
    position: relative;
}

.inner-one{
    width: 20.125em;
    height: 17.5em;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    align-self: flex-end;
    position: absolute;
    display: block;
}

.inner-two{
    left: 0;
    display: block;
    bottom: -54px;
    background-image: url(../../../../public/assets/mainPages/start.webp);
}

.inner-content{
    align-items: center;
    justify-content: end;
    color: white;
    display: flex;
    flex-flow: column;
    margin: 32px 0px;
    max-width: 587px;
    text-align: center;
}

.inner-head{
    font-weight: 600;
    font-family: 'Merriweather', serif;
    font-style: normal;
    line-height: 1.3;
    font-size: 2.25rem;
    color: white;
    margin: 0 0 8px;
}

.inner-span{
    margin-bottom: 40px;
}

.inner-para{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.4;
    color: inherit;
    margin: 0;
}

.last-two{
    right: 0;
    display: block;
    background-image: url(../../../../public/assets/mainPages/start2.webp);
}

.last-one{
    width: 20.125em;
    height: 16.5em;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    align-self: flex-end;
    position: absolute;
    bottom: -56px;
}

@media (max-width: 1150px) {
    .inner-one {
        display: none;
    }
    .inner-two {
        display: none;
    }
    .inner-content {
        align-items: flex-start;
        text-align: left;
    }
    .inner-head {
        font-size: 2.0rem;
    }
}

.last-three{
    width: 20.125em;
    height: 16.5em;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    align-self: flex-end;
    position: absolute;
    bottom: -171px;
    display: block;
    right: -25px;
    background-image: url(../../../../public/assets/mainPages/start3.webp);
}

.nameAnimation {
    position: absolute;
    left: 50%;
    font-size: x-large;
    transform: translate(-50%, 0%);
    text-shadow: 4px 4px 4px black;
    color: white;
}

.nameAnimation div {
    width: 0;
    animation: typeWriter 2.5s 1s infinite alternate steps(66);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    margin: 0 auto;
    letter-spacing: .05em;
}

@media (max-width: 478px) {
    .inner-content {
        margin: 64px 0px;
    }
}

@media (max-width: 760px) {
    .last-two {
        display: none;
    }
}

@media (min-width: 760px) {
    .last-three {
        display: none;
    }
}

@keyframes typeWriter {
    0% {
        width: 0;
    }

    5% {
        width: 0;
    }

    80% {
        width: 100%;
    }

    90% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@media (min-width: 530px) and (max-width: 1150px) {
    .inner-content{
        position: absolute;
        left: 3vw;
        top: 40px;
    }
}