footer
{
  background-image: linear-gradient(to right, #141e30, #0a0f23);
}

footer a{
  color:white;
}

footer a:hover{
  color:rgb(152, 179, 243);
}
.footer-h2 h2{
  color:white;
}
.footer-div , h2{
  margin-top: 20px;
  color:rgb(216, 226, 250); 
}
span{
  color:white;
}
.footer_outer{
 height: auto;
}
.footer_body{
  margin-left: 50px;
}
.footer_main{
margin-top: 80px;
}
.logo_img , img{
  background-image: transparent;
  border-radius: 5px;
}
.footer_contents div{
  margin-top: 10px;
  margin-left: 10px;
}
.copyright_footer{
  display: flex;
  justify-content: space-between;
}
.footer_inner_body{
  display: flex;
  justify-content: space-between;
}
/* grid grid-cols-2 gap-8 sm:gap-4 sm:grid-cols-3 */
@media (max-width: 640px){
  .footer_body{
    margin-left: 10px;
  }
}
@media (max-width: 560px){
  .copyright_footer{
    display: flex;
    flex-direction: column;
 align-items: center;
 justify-content: space-around;
 font-size: 12px;
 font-weight: bolder;
  }
}
@media (max-width: 450px){
  .footer_inner_body{
    display: flex;
    justify-content:safe;
    font-size: 10px;
  }
}