@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.addBooks-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-white {
  color: black;
}

.add-books {
  margin-top: 4rem;
  width: 50rem;
  padding: 0 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-books .group {
  margin: 1rem auto;
  width: 80%;
}
.add-books .group-btn {
  margin: 1rem auto;
  width: 80%;
}

.add-books .group .input,
.add-books .group-btn .button {
  width: 100%;
  color: #000;
  display: block;
}
.add-books .group-btn .button {
  border: 0;
  padding: 15px 20px;
  border-radius: 1rem;
  background: #a9afd1;
  transition: 0.3s;
  color: #fff;
}
.add-books .group-btn .button:hover {
  background: #7881b4;
}

.add-books .group .input {
  border: 1px solid black;
  padding: 15px 20px;
}

@media screen and (max-width: 720px) {
  .add-books .group {
    margin: 1rem auto;
    width: 95%;
  }
  .add-books .group-btn {
    margin: 1rem auto;
    width: 95%;
  }
  .add-books {
    margin-top: 5rem;
  }
}

label {
  color: #777;
  padding-bottom: 10px;
}

.add-books {
  width: 95%;
  margin-bottom: 10px;
}

.input {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

.quote {
	padding-top: 6rem;
	font-family: 'Lobster', serif;
	font-size: 2rem;
	animation: fadeIn 1s ease-in-out;
	color: hsl(0, 0%, 20%);
}
