.addBooks-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-title {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.text-white {
	color: black;
}

.add-books {
	margin-top: 6rem;
	/* height: 90vh; */
	width: 50rem;
	padding: 1rem 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.add-books .group {
	margin: 1rem auto;
	width: 80%;
	border: 1px solid black;
}
.add-books .group-btn {
	margin: 1rem auto;
	width: 80%;
}

.Boxx{
    height: 550px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Inputt{
    height: 50px;
    border-radius: 10px;
	color: black;
    border: 1px solid gray;
    font-size: 18px;
    margin:10px 15px;
    padding-left: 20px;
}

.Buttonn{
    height: 50px;
    margin: 15px;
    border-radius: 10px;
    border: none;
    background-color: #79889c;
    color: white;
    font-size: 70px;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
}
.Buttonn:hover{
  background-color: #697e9b;
}

.add-books .group .input,
.add-books .group-btn .button {
	width: 100%;
	color: #000;
	display: block;
}
.add-books .group-btn .button {
	border: 0;
	padding: 15px 20px;
	border-radius: 1rem;
	background: #a9afd1;
	transition: 0.3s;
	color: #fff;
}
.add-books .group-btn .button:hover {
	background: #7881b4;
}

.add-books .group .input {
	border: none;
	padding: 15px 20px;
	border-radius: 0.75rem;
}

@media screen and (max-width: 720px) {
	.add-books .group {
		margin: 1rem auto;
		width: 95%;
		border: 1px solid black;
	}
	.add-books .group-btn {
		margin: 1rem auto;
		width: 95%;
	}
	.add-books{
		margin-top: 5rem;
	}
	
}
