.upload h1 {
    color: rgb(30, 41, 59);
}

.upload-box {
    width: 50%;
    border: 1px dashed rgb(30, 41, 59);
}

.upload-box input {
    display: none;
}

.upload-box label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(30, 41, 59);
    color: #fff;
    border: 1px solid rgb(30, 41, 59);
    padding: 15px 30px;
    border-radius: 30px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.upload-box label:hover {
    background: transparent;
    color: rgb(30, 41, 59);
}

.upload-box .uploaded {
    border: 1px dashed rgb(30, 41, 59);
    padding: 10px 15px;
}

.upload-box .uploaded .close-icon:hover {
    color: red;
}



.upload-box button {
    background: #7881b4;
    color: #fff;
    border: 1px solid #7881b4;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.upload-box button:hover {
    background: transparent;
    color: #7881b4;
}

@media screen and (max-width: 1000px) {
    .upload-box {
        width: 70%;
    }
}

@media screen and (max-width: 700px) {
    .upload-box {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .upload-box {
        width: 100%;
    }

    .upload-box label {
        padding: 15px 15px;
        width: 120%;
    }
}