.cg-card {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 6px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  transition: all 0.4s ease;
  height: 100px;
}

.cg-card img {
  right: 20px;
  top: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 24px 10px,
    rgba(0, 0, 0, 0.22) 1px 18px 15px;
  width: 80px;
  transform: rotate(15deg);
  transition: all 0.4s ease;
}

.cg-card img {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.cg-card p {
  font-size: 17px;
  font-weight: 600;
}

.cg-card:hover {
  box-shadow: 1px 2px 8px 3px lightgray;
  transform: scale(1.005);
}

.cg-card:hover p {
  color: rgb(14, 13, 13);
}

.cg-card:hover img {
  transform: scale(1.2) rotate(30deg);
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

html, body {
  scroll-behavior: smooth;
}