@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --bgPrimary: #eff6ff !important;
    /* --bgLight: #f8f8f8;
    --textLight-primary: #333;
    --textLight-seconday: rgb(30 41 59);
    --bgLight-secondary: whitesmoke;
    --textGray: #7288a2;
    --bgFooter-light: rgb(239 246 255); */
  }

  .dark {
    --bgPrimary: #001229 !important;
    /* --bgDark-secondary: #323232;
    --textGray-dark: rgb(75 85 99); */
  }

  @media (prefers-color-scheme: light) {
    :root {
      --bgPrimary: #eff6ff;
      /* --bgLight: #f8f8f8;
      --textLight-primary: #333;
      --textLight-seconday: rgb(30 41 59);
      --bgLight-secondary: whitesmoke;
      --textGray: #7288a2;
      --bgFooter-light: rgb(239 246 255); */
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bgPrimary: #001229;
      /* --bgDark-secondary: #323232;
      --textGray-dark: rgb(75 85 99); */
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-track {
  display: none;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ffffff);
  border-radius: 6px;
}

.adchoices {
  padding: 50px 0;
  background-color: var(--bgLight);
}

.adchoices-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.adchoices-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 40px;
}

.adchoices-section {
  margin-bottom: 40px;
}

.adchoices-section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.adchoices-subsection-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.adchoices-content {
  text-align: justify;
  line-height: 1.5;
}

.adchoices-content p {
  margin-bottom: 15px;
}

.adchoices-content ul {
  margin-bottom: 15px;
  padding-left: 20px;
}

.adchoices-content ul li {
  margin-bottom: 5px;
}

.adchoices-content a {
  color: #007bff;
  text-decoration: none;
}

.adchoices-content a:hover {
  text-decoration: underline;
}

.adchoices-content .contact-email {
  font-weight: bold;
}
