@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 120px;
}

@layer base {
  .light {
    --bgPrimary: #eff6ff !important;
    /* --bgLight: #f8f8f8;
    --textLight-primary: #333;
    --textLight-seconday: rgb(30 41 59);
    --bgLight-secondary: whitesmoke;
    --textGray: #7288a2;
    --bgFooter-light: rgb(239 246 255); */
  }

  .dark {
    --bgPrimary: #001229 !important;
    /* --bgDark-secondary: #323232;
    --textGray-dark: rgb(75 85 99); */
  }

  @media (prefers-color-scheme: light) {
    :root {
      --bgPrimary: #eff6ff;
      /* --bgLight: #f8f8f8;
      --textLight-primary: #333;
      --textLight-seconday: rgb(30 41 59);
      --bgLight-secondary: whitesmoke;
      --textGray: #7288a2;
      --bgFooter-light: rgb(239 246 255); */
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bgPrimary: #001229;
      /* --bgDark-secondary: #323232;
      --textGray-dark: rgb(75 85 99); */
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-track {
  display: none;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ffffff);
  border-radius: 6px;
}