.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}

.scrollToTopButton:hover {
  opacity: 1;
  background-color: rgb(219, 59, 224);
  transform: scale(1.2);
}

.scrollToTopIcon {
  font-size: 20px;
}
